<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container" style="display: flex; gap: 50px; align-items: center;">
        <div class="d-flex justify-content-between align-items-center" style="gap: 50px">
            <div>
                <h1>New Dojo <a href="/">Home</a></h1>
                <form action="/create/dojo" method="post">
                    <p>Dojo name:
                        <input type="text" name="name" id="">
                    </p>
                    <button>Create</button>
                </form>
            </div>
            <div>
                <h1>All Dojos</h1>
                <div class="border justify-content-between align-items-center" style="margin-top: 1em; margin-bottom: 1em;">
                    {% for dojo in all_dojos %}
                    <p><a href="/show/{{dojo.id}}">{{dojo.name}}</a></p>
                    {% endfor %}
                </div>
                <a href="/ninja">Add Ninja</a>
            </div>
        </div>
    </div>
</body>
</html>